<div class="header1">
	<h1>Latest Car</h1>
</div>

<div class="garage_table">
	<table>
	  <tr>
			<th>Year</th>
			<th>Color</th>
			<th>Make</th>
			<th>Model</th>		
			<th>Plate No.</th>
			<th>Owner</th>
		</tr>
		
		<tr>
			<td><%= @last_car.year %></td>
			<td><%= @last_car.color %></td>
			<td><%= @last_car.make %></td>
			<td><%= @last_car.model %></td>
			<td><%= @last_car.plate_no %></td>
			<td><%= @last_car.owner %></td>
		</tr>
	</table>
</div>