<!DOCTYPE html>
<html>
<head>
	<title>Need for Speed Garage Manager</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<ul class="navbar">
		<li class="navbar"><a href="<%= root_path %>">Home</a></li>
		<li class="navbar"><a href="<%= about_path %>">About</a></li>
	</ul>
</div>

<%= yield %>

</body>
</html>
